h1 [class^="icon-"] {
    color: #5daf2b; }


/********************************/

.page-header {
    border-bottom-color: #dddddd;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
    margin-top: 0;
    margin-bottom: 30px;
    color: #222222;
    background: white;
    min-height: 85px;
    padding: 20px; }
.page-header:after, .page-header:before {
    content: "";
    display: table; }
.page-header:after {
    clear: both; }
.page-header {
    *zoom: 1; }
@media (min-width: 768px) {
    .page-header {
        padding: 0 15px; } }
.page-header h1, .page-header h2, .page-header h3, .page-header h4, .page-header h5, .page-header h6 {
    margin: 0;
    color: #222222;
    vertical-align: middle; }
.page-header .breadcrumb {
    margin-bottom: 0;
    line-height: 10px; }
@media (min-width: 768px) {
    .page-header .breadcrumb {
        padding: 10px 0; } }
.page-header .breadcrumb li:first-child > a {
    text-decoration: none;
    -webkit-transition: color 100ms ease;
    -moz-transition: color 100ms ease;
    -o-transition: color 100ms ease;
    transition: color 100ms ease; }
.page-header .breadcrumb li:first-child > a:hover {
    color: #5daf2b; }
@media (min-width: 768px) {
    .page-header h1.pull-left {
        margin-top: 27px; } }
.page-header .pull-right {
    margin-top: 15px; }
@media (min-width: 768px) {
    .page-header .pull-right {
        margin-top: 25px; } }
@media (max-width: 767px) {
    .page-header {
        text-align: center; }
    .page-header > .pull-right, .page-header > .pull-left {
        float: none !important; } }

.group-header {
    border-top: 1px solid #eeeeee;
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 40px;
    margin-top: 20px; }
.group-header .row {
    margin-left: 0;
    margin-right: 0; }
.group-header > .row:first-child {
    padding-top: 20px;
    border-top: 1px solid white; }
.group-header.group-header-first {
    margin-top: 0;
    border-top: none; }
.group-header.group-header-first > .row:first-child {
    padding-top: 0;
    border-top: none; }

hr {
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid white; }
hr.hr-normal {
    margin-left: 0;
    margin-right: 0; }
hr.hr-top {
    margin-top: 0; }
hr.hr-bottom {
    margin-bottom: 0; }
hr.hr-double {
    margin-top: 40px;
    margin-bottom: 40px; }

/**************************/
header .navbar {
    margin: 0;
    padding: 0 15px;
    background-color: #5daf2b;
    border: none;
    min-height: 40px;
    height: 40px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0; }
header .navbar .navbar-brand {
    color: white;
    font-size: 20px;
    text-shadow: none;
    font-weight: 200;
    padding: 0;
    height: 40px;
    vertical-align: middle;
    line-height: 40px; }
header .navbar .navbar-brand:hover, header .navbar .navbar-brand:focus {
    color: white; }
header .navbar .navbar-brand .logo {
    display: none; }
@media (min-width: 768px) {
    header .navbar .navbar-brand .logo {
        display: inline-block; } }
header .navbar .navbar-brand .logo-xs {
    display: inline-block; }
@media (min-width: 768px) {
    header .navbar .navbar-brand .logo-xs {
        display: none; } }
header .navbar .navbar-brand img {
    margin-top: -2px; }
header .navbar .toggle-nav {
    color: white;
    text-shadow: none;
    vertical-align: middle;
    padding: 4px 12px;
    margin-top: 5px;
    margin-left: 15px;
    background-color: #5daf2b;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); }
@media (min-width: 768px) {
    header .navbar .toggle-nav {
        margin-left: 15px; } }
header .navbar .toggle-nav:active, header .navbar .toggle-nav.active {
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    background-color: #5daf2b; }
header .navbar .toggle-nav:hover {
    background-color: #5daf2b; }
header .navbar .navbar-form {
    margin: 5px 10px 0 0;
    padding: 0;
    position: relative;
    border: none; }
header .navbar .navbar-form button {
    position: absolute;
    color: #5daf2b;
    right: 10px;
    top: 6px;
    text-decoration: none;
    padding: 0;
    margin: 0;
    z-index: 1031;
    text-shadow: none;
    -webkit-transition: color 200ms ease;
    -moz-transition: color 200ms ease;
    -o-transition: color 200ms ease;
    transition: color 200ms ease; }
header .navbar .navbar-form button:hover {
    color: #315d17; }
header .navbar .navbar-form input {
    border-color: #5daf2b;
    padding-left: 7px;
    padding-right: 25px;
    color: #315d17;
    height: 30px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease; }
header .navbar .navbar-form input:-moz-placeholder {
    color: #92da66; }
header .navbar .navbar-form input:-ms-input-placeholder {
    color: #92da66; }
header .navbar .navbar-form input::-webkit-input-placeholder {
    color: #92da66; }
header .navbar .navbar-form input:hover, header .navbar .navbar-form input:focus {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1; }
header .navbar .navbar-form input:hover:-moz-placeholder {
    color: #92da66; }
header .navbar .navbar-form input:hover:-ms-input-placeholder {
    color: #92da66; }
header .navbar .navbar-form input:hover::-webkit-input-placeholder {
    color: #92da66; }
header .navbar .navbar-form input:focus {
    border-color: #478621;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
header .navbar .navbar-form input:focus:-moz-placeholder {
    color: #92da66; }
header .navbar .navbar-form input:focus:-ms-input-placeholder {
    color: #92da66; }
header .navbar .navbar-form input:focus::-webkit-input-placeholder {
    color: #92da66; }
header .navbar .navbar-form:hover input {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1; }
header .navbar .user-menu > a {
    height: 40px;
    line-height: 38px; }
header .navbar .user-menu .dropdown-toggle {
    padding: 0 15px; }
header .navbar .user-menu .dropdown-toggle img {
    border: 2px solid white;
    margin-right: 5px;
    vertical-align: top;
    position: relative;
    top: 8px;
    width: 23px;
    height: 23px; }
header .navbar .user-menu .dropdown-toggle .user-name {
    display: none; }
@media (min-width: 768px) {
    header .navbar .user-menu .dropdown-toggle .user-name {
        display: inline; } }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    header .navbar .user-menu .dropdown-toggle span {
        position: relative;
        top: 1px; } }
header .navbar .widget .dropdown-menu {
    padding: 0; }
header .navbar .widget .dropdown-menu > li {
    width: 270px; }
header .navbar .widget .dropdown-menu > li > a {
    padding: 0;
    white-space: normal; }
header .navbar .widget .dropdown-menu > li > a:hover [class*="icon"] {
    color: white !important; }
header .navbar .widget .dropdown-menu > li > a:hover small {
    color: white !important;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5; }
header .navbar .widget .dropdown-menu > li .widget-body {
    padding: 5px; }
header .navbar .widget .dropdown-menu > li .widget-body:after, header .navbar .widget .dropdown-menu > li .widget-body:before {
    content: "";
    display: table; }
header .navbar .widget .dropdown-menu > li .widget-body:after {
    clear: both; }
header .navbar .widget .dropdown-menu > li .widget-body {
    *zoom: 1; }
header .navbar .widget .dropdown-menu > li .widget-body .icon {
    width: 25px; }
header .navbar .widget .dropdown-menu > li .widget-body .text {
    width: 230px; }
header .navbar .widget .dropdown-menu > li .widget-body .text small {
    white-space: nowrap; }
header .navbar .widget .dropdown-menu > li.widget-footer a {
    padding: 10px 0;
    background: #f4f4f4;
    text-align: center; }
header .navbar .widget .dropdown-menu > li.widget-footer a:hover {
    background: #5daf2b; }
header .navbar .widget .dropdown-menu p {
    margin: 0; }
header .navbar .widget .dropdown-menu .divider {
    margin: 0; }
header .navbar > .nav {
    float: right;
    margin: 0; }
header .navbar > .nav > li {
    float: left; }
header .navbar > .nav > li .label {
    background: white;
    color: #5daf2b; }
header .navbar > .nav > li.dropdown > .dropdown-toggle .caret {
    border-top-color: white;
    border-bottom-color: white; }
header .navbar > .nav > li.dropdown > a:hover .caret, header .navbar > .nav > li.dropdown > a:focus .caret {
    border-top-color: white;
    border-bottom-color: white; }
header .navbar > .nav > li.dropdown.open > .dropdown-toggle {
    color: white; }
header .navbar > .nav > li.dropdown.open > .dropdown-toggle .caret {
    border-top-color: white;
    border-bottom-color: white; }
header .navbar > .nav > li.light > a {
    background-color: #5daf2b; }
header .navbar > .nav > li.light > a .label {
    color: #478621; }
header .navbar > .nav > li.light > a:hover, header .navbar > .nav > li.light > a:active, header .navbar > .nav > li.light > a:focus {
    background-color: #478621; }
header .navbar > .nav > li.medium > a {
    background-color: #478621; }
header .navbar > .nav > li.medium > a .label {
    color: #478621; }
header .navbar > .nav > li.medium > a:hover, header .navbar > .nav > li.medium > a:active, header .navbar > .nav > li.medium > a:focus {
    background-color: #478621; }
header .navbar > .nav > li.dark > a {
    background-color: #478621; }
header .navbar > .nav > li.dark > a .label {
    color: #315d17; }
header .navbar > .nav > li.dark > a:hover, header .navbar > .nav > li.dark > a:active, header .navbar > .nav > li.dark > a:focus {
    background-color: #315d17; }
header .navbar > .nav > li > a {
    color: white;
    text-shadow: none;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #5daf2b;
    height: 40px;
    line-height: 40px;
    padding-top: 0;
    padding-bottom: 0; }
header .navbar > .nav > li > a:hover, header .navbar > .nav > li > a:active, header .navbar > .nav > li > a:focus {
    color: white;
    background-color: #5daf2b; }
header .navbar.navbar-fixed-top {
    position: fixed; }
header .navbar .dropdown-menu {
    right: 0;
    left: auto; }


.contrast-grass-green header .navbar {
    background-color: #5daf2b; }
.contrast-grass-green header .navbar .toggle-nav {
    background-color: #5daf2b; }
.contrast-grass-green header .navbar .toggle-nav:active, .contrast-grass-green header .navbar .toggle-nav.active, .contrast-grass-green header .navbar .toggle-nav:hover {
    background-color: #478621; }
.contrast-grass-green header .navbar .navbar-form button {
    color: #5daf2b; }
.contrast-grass-green header .navbar .navbar-form button:hover {
    color: #274912; }
.contrast-grass-green header .navbar .navbar-form input {
    border-color: #478621;
    color: #274912; }
.contrast-grass-green header .navbar .navbar-form input:-moz-placeholder {
    color: #75cf3e; }
.contrast-grass-green header .navbar .navbar-form input:-ms-input-placeholder {
    color: #75cf3e; }
.contrast-grass-green header .navbar .navbar-form input::-webkit-input-placeholder {
    color: #75cf3e; }
.contrast-grass-green header .navbar .navbar-form input:hover:-moz-placeholder {
    color: #92da66; }
.contrast-grass-green header .navbar .navbar-form input:hover:-ms-input-placeholder {
    color: #92da66; }
.contrast-grass-green header .navbar .navbar-form input:hover::-webkit-input-placeholder {
    color: #92da66; }
.contrast-grass-green header .navbar .navbar-form input:focus {
    border-color: #315d17; }
.contrast-grass-green header .navbar .navbar-form input:focus:-moz-placeholder {
    color: #83d452; }
.contrast-grass-green header .navbar .navbar-form input:focus:-ms-input-placeholder {
    color: #83d452; }
.contrast-grass-green header .navbar .navbar-form input:focus::-webkit-input-placeholder {
    color: #83d452; }
.contrast-grass-green header .navbar > .nav > li > a {
    background-color: #5daf2b; }
.contrast-grass-green header .navbar > .nav > li > a:hover, .contrast-grass-green header .navbar > .nav > li > a:active, .contrast-grass-green header .navbar > .nav > li > a:focus {
    background-color: #478621; }
.contrast-grass-green header .navbar > .nav > li.light > a {
    background-color: #4c8e23; }
.contrast-grass-green header .navbar > .nav > li.light > a .label {
    color: #4c8e23; }
.contrast-grass-green header .navbar > .nav > li.light > a:hover, .contrast-grass-green header .navbar > .nav > li.light > a:active, .contrast-grass-green header .navbar > .nav > li.light > a:focus {
    background-color: #3f771d; }
.contrast-grass-green header .navbar > .nav > li.medium > a {
    background-color: #3f771d; }
.contrast-grass-green header .navbar > .nav > li.medium > a .label {
    color: #3f771d; }
.contrast-grass-green header .navbar > .nav > li.medium > a:hover, .contrast-grass-green header .navbar > .nav > li.medium > a:active, .contrast-grass-green header .navbar > .nav > li.medium > a:focus {
    background-color: #3a6d1b; }
.contrast-grass-green header .navbar > .nav > li.dark > a {
    background-color: #376719; }
.contrast-grass-green header .navbar > .nav > li.dark > a .label {
    color: #376719; }
.contrast-grass-green header .navbar > .nav > li.dark > a:hover, .contrast-grass-green header .navbar > .nav > li.dark > a:active, .contrast-grass-green header .navbar > .nav > li.dark > a:focus {
    background-color: #315d17; }
.contrast-grass-green header .navbar .widget .dropdown-menu > li.widget-footer a:hover {
    background-color: #5daf2b; }
.contrast-grass-green header .navbar .nav li .label {
    color: #5daf2b; }
.contrast-grass-green .nav .caret, .contrast-grass-green .nav a:hover .caret {
    border-top-color: #5daf2b;
    border-bottom-color: #5daf2b; }
.contrast-grass-green code {
    background-color: #e4efe4;
    color: #6ab53d; }
.contrast-grass-green #main-nav .navigation > .nav > li > a.in [class^="icon-"], .contrast-grass-green #main-nav .navigation > .nav > li > a.in [class*=" icon-"] {
    color: #5daf2b; }
.contrast-grass-green #main-nav .navigation > .nav > li:hover > a [class^="icon-"], .contrast-grass-green #main-nav .navigation > .nav > li:hover > a [class*=" icon-"], .contrast-grass-green #main-nav .navigation > .nav > li:focus > a [class^="icon-"], .contrast-grass-green #main-nav .navigation > .nav > li:focus > a [class*=" icon-"], .contrast-grass-green #main-nav .navigation > .nav > li.active > a [class^="icon-"], .contrast-grass-green #main-nav .navigation > .nav > li.active > a [class*=" icon-"] {
    color: #5daf2b !important; }
.contrast-grass-green #main-nav .navigation > .nav > li .nav > li.active > a [class^="icon-"], .contrast-grass-green #main-nav .navigation > .nav > li .nav > li.active > a [class*=" icon-"] {
    color: #5daf2b; }
.contrast-grass-green #main-nav .navigation > .nav > li .nav > li > a:hover [class^="icon-"], .contrast-grass-green #main-nav .navigation > .nav > li .nav > li > a:hover [class*=" icon-"], .contrast-grass-green #main-nav .navigation > .nav > li .nav > li > a:focus [class^="icon-"], .contrast-grass-green #main-nav .navigation > .nav > li .nav > li > a:focus [class*=" icon-"] {
    color: #5daf2b; }
.contrast-grass-green .box .box-header.contrast-background .actions .btn-link:hover {
    color: #5daf2b !important; }
.contrast-grass-green.contrast-background, .contrast-grass-green .contrast-background {
    background: #5daf2b !important; }
.contrast-grass-green .text-contrast, .contrast-grass-green .contrast {
    color: #5daf2b !important; }
.contrast-grass-green .contrast-border {
    border-color: #5daf2b !important; }
.contrast-grass-green .label-contrast {
    background-color: #5daf2b; }
.contrast-grass-green .badge-contrast {
    background-color: #5daf2b; }
.contrast-grass-green .accordion.accordion-contrast .panel {
    border-color: #5daf2b; }
.contrast-grass-green .accordion.accordion-contrast .panel > .panel-heading + .panel-collapse .panel-body {
    border-top: 2px solid #5daf2b; }
.contrast-grass-green .accordion.accordion-contrast .panel-heading {
    background-color: #5daf2b; }
.contrast-grass-green .accordion.accordion-contrast .panel-heading .accordion-toggle {
    color: white; }
.contrast-grass-green .btn-group.open .btn-contrsat.dropdown-toggle, .contrast-grass-green .btn.btn-contrast {
    color: white;
    background-color: #5daf2b;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); }
.contrast-grass-green .btn-group.open .btn-contrsat.dropdown-toggle:active, .contrast-grass-green .btn-group.open .btn-contrsat.dropdown-toggle.active, .contrast-grass-green .btn.btn-contrast:active, .contrast-grass-green .btn.btn-contrast.active {
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    background-color: #478621; }
.contrast-grass-green .btn-group.open .btn-contrsat.dropdown-toggle:focus, .contrast-grass-green .btn-group.open .btn-contrsat.dropdown-toggle.disabled, .contrast-grass-green .btn-group.open .btn-contrsat.dropdown-toggle[disabled], .contrast-grass-green .btn.btn-contrast:focus, .contrast-grass-green .btn.btn-contrast.disabled, .contrast-grass-green .btn.btn-contrast[disabled] {
    background-color: #5daf2b; }
.contrast-grass-green .btn-group.open .btn-contrsat.dropdown-toggle.disabled:hover, .contrast-grass-green .btn-group.open .btn-contrsat.dropdown-toggle[disabled]:hover, .contrast-grass-green .btn.btn-contrast.disabled:hover, .contrast-grass-green .btn.btn-contrast[disabled]:hover {
    background-color: #5daf2b; }
.contrast-grass-green .btn-group.open .btn-contrsat.dropdown-toggle:hover, .contrast-grass-green .btn.btn-contrast:hover {
    background-color: #478621; }
.contrast-grass-green .box-quick-link.contrast-background a:active .header {
    background: #478621; }
.contrast-grass-green .box-quick-link.contrast-background:hover .header {
    background: #529b26; }
.contrast-grass-green .box-statistic.contrast-background .title, .contrast-grass-green .box-statistic.contrast-background small, .contrast-grass-green .box-statistic.contrast-background [class*="icon-"] {
    color: #5daf2b !important; }
.contrast-grass-green .breadcrumb li:first-child > a:hover {
    color: #5daf2b !important; }
.contrast-grass-green h1 [class^="icon-"] {
    color: #5daf2b; }
.contrast-grass-green .dropdown-menu > .active > a, .contrast-grass-green .dropdown-menu > .active > a:hover, .contrast-grass-green .dropdown-menu > .active > a:focus, .contrast-grass-green .dropdown-menu > li > a:hover, .contrast-grass-green .dropdown-menu > li > a:focus, .contrast-grass-green .dropdown-submenu:hover > a, .contrast-grass-green .dropdown-submenu:focus > a {
    background-color: #5daf2b !important; }
.contrast-grass-green .box .box-header .actions .btn-link:hover {
    color: #5daf2b; }
.contrast-grass-green .fuelux .wizard ul li.active {
    background-color: #5daf2b; }
.contrast-grass-green .fc-event .fc-event-inner {
    border-color: #5daf2b;
    background-color: #5daf2b; }
.contrast-grass-green .contrast-caret {
    border-top-color: #5daf2b !important;
    border-bottom-color: #5daf2b !important; }
.contrast-grass-green .select2-results .select2-highlighted {
    background: #5daf2b; }
.contrast-grass-green .daterangepicker .ranges li.active, .contrast-grass-green .daterangepicker .ranges li:hover {
    background: #5daf2b; }
.contrast-grass-green .daterangepicker td.active, .contrast-grass-green .daterangepicker td.active:hover {
    background: #5daf2b; }
.contrast-grass-green .datepicker td span.active:hover, .contrast-grass-green .datepicker td span.active:hover:hover, .contrast-grass-green .datepicker td span.active.disabled:hover, .contrast-grass-green .datepicker td span.active.disabled:hover:hover, .contrast-grass-green .datepicker td span.active:active, .contrast-grass-green .datepicker td span.active:hover:active, .contrast-grass-green .datepicker td span.active.disabled:active, .contrast-grass-green .datepicker td span.active.disabled:hover:active, .contrast-grass-green .datepicker td span.active.active, .contrast-grass-green .datepicker td span.active:hover.active, .contrast-grass-green .datepicker td span.active.disabled.active, .contrast-grass-green .datepicker td span.active.disabled:hover.active, .contrast-grass-green .datepicker td span.active.disabled, .contrast-grass-green .datepicker td span.active:hover.disabled, .contrast-grass-green .datepicker td span.active.disabled.disabled, .contrast-grass-green .datepicker td span.active.disabled:hover.disabled, .contrast-grass-green .datepicker td span.active[disabled], .contrast-grass-green .datepicker td span.active:hover[disabled], .contrast-grass-green .datepicker td span.active.disabled[disabled], .contrast-grass-green .datepicker td span.active.disabled:hover[disabled], .contrast-grass-green .datepicker td.active:hover, .contrast-grass-green .datepicker td.active:hover:hover, .contrast-grass-green .datepicker td.active.disabled:hover, .contrast-grass-green .datepicker td.active.disabled:hover:hover, .contrast-grass-green .datepicker td.active:active, .contrast-grass-green .datepicker td.active:hover:active, .contrast-grass-green .datepicker td.active.disabled:active, .contrast-grass-green .datepicker td.active.disabled:hover:active, .contrast-grass-green .datepicker td.active.active, .contrast-grass-green .datepicker td.active:hover.active, .contrast-grass-green .datepicker td.active.disabled.active, .contrast-grass-green .datepicker td.active.disabled:hover.active, .contrast-grass-green .datepicker td.active.disabled, .contrast-grass-green .datepicker td.active:hover.disabled, .contrast-grass-green .datepicker td.active.disabled.disabled, .contrast-grass-green .datepicker td.active.disabled:hover.disabled, .contrast-grass-green .datepicker td.active[disabled], .contrast-grass-green .datepicker td.active:hover[disabled], .contrast-grass-green .datepicker td.active.disabled[disabled], .contrast-grass-green .datepicker td.active.disabled:hover[disabled] {
    background: #5daf2b; }
.contrast-grass-green .dropdown-menu > .active > a, .contrast-grass-green .dropdown-menu > .active > a:hover, .contrast-grass-green .dropdown-menu > .active > a:focus {
    background: #5daf2b; }
.contrast-grass-green .dd-handle:hover {
    color: #5daf2b; }
.contrast-grass-green .dd-placeholder {
    border-color: #5daf2b; }


/*-----new css changes 2016-04-19-----*/

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.form-control,
.uneditable-input {
    color: #3c3c3c;
    border-color: #d0d0d0;
    background-color: rgba(93, 175, 43, 0.16);
    /*background-color: rgba(243, 69, 65, 0.16)!important;*/
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-color: #5daf2b;
}

.pagination-sm > li > a,
.pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 5px !important;
    border-color: #5daf2b;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
    z-index: 2;
    color: black;
    cursor: default;
    border-color: #5daf2b;
    background: rgba(93, 175, 43, 0.16);
}


.pagination > .disabled > span,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #999999;
    background-color: white;
    border-color: #5daf2b;
    cursor: not-allowed; }

.out-table{
    background-color: #5daf2b;
    color: #ffffff;
}

/*----------modal------------*/
.modal-header {
    background-color: #5daf2b;
}

.modal-title {
    color: #ffffff;
}